* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #000048;
  background-image: linear-gradient(130deg, #000000, #000CB8);
  background-repeat: no-repeat;
  font: normal 16px Arial;
  color: #000000;
  touch-action: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.slider {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  cursor: grab;
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);;
}

.slider-wrapper {
  position: relative;
  width: 100vw;
  height: 80vh;
  perspective: 1600px;
  overflow: hidden;
}

.slider__side {
  position: absolute;
  width: inherit;
  height: inherit;
  font: normal 3em Arial;
  text-align: center;
  line-height: 70vh;
  backface-visibility: hidden;
}

.slider__side--front {
  transform: translateZ(50vw);
  background-color: yellow;
}

.slider__side--back {
  transform: rotateY(180deg) translateZ(50vw);
  background-color: gray;
}

.slider__side--right {
  transform: rotateY(90deg) translateZ(50vw);
  background-color: blue;
}

.slider__side--left {
  transform: rotateY(-90deg) translateZ(50vw);
  background-color: red;
}
